*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.log
*.out
*.bcf
*-blx.bib
*.run.xml
*.synctex.gz
*.synctex.gz(busy)

.joe_state
.coffee

.dropbox
*Icon*

.gitconfig
.bash_history
.bash_profile
.bashrc
.cache/
.forever/
.smc/
.snapshots/
.ssh/
*.term
